*{
    background-size: 100%;
}

#postcard {
    background-image: url(imgs/default.png);
    position: relative;
    height: 720px;
    width: 100%;
    background-position: center;
    background-size: cover;
    margin-bottom: 5px;
}

#to {
    top: 0px;
    left: 0px;
    background: rgba(255, 255, 255, .8);
    position: absolute;
    margin: 5px;
}

#from {
    bottom: 0px;
    right: 1%;
    background-color: rgba(255,255,255,0.5);
    position: absolute;
    margin: 5px;
    padding: 5px;
}

#message {
    width: 800px;
    height: 200px;
    background-color: rgba(255,255,255,0.5);
    right: 0px;
    left: 0px;
    top: 0px;
    bottom: 0px;
    position: absolute;
    margin: auto;
    text-align: center;
    padding: 5px;
}

.ndivImgs {
    width: 150px;
    height: 150px;
    display: inline-block;
    position: relative;
    background-position: center;
    background-size: cover;
}

.ndivCaps {
    top: 0px;
    left: 0px;
    background-color: rgba(255,255,255,0.5);
    position: absolute;
    margin: 5px;
    padding: 5px;
}
